*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
table{
    width: 600px;
    height: 600px;
    margin: auto;
}
table,td{
    /* border: 1px solid black; */
    border-collapse: collapse;
}
td{
    cursor:url("img/hummer.png"), pointer;
}
td img{
    width: 150px;
    height: 150px;
}
div{
    background-color: #B5957C;
    color: #FFF;
    text-align: center;
    height: 300px;
    font: 400 55px Arial;
    padding-top: 15px;
}
